<form class="{{options.cssClass}} character-enhanced wrapper-hexabox" autocomplete="off">
  {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
  <div class="content">
    <header>
      <div class="avatar wrapper-hexabox">
        <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" data-tooltip="{{data.name}}" />
        {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
        {{> "systems/anarchy/templates/actor/character-enhanced/metatype.hbs"}}
      </div>
      <div class="name-attributes">
        <div class="name wrapper-hexabox">
          {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
          <div class="content">
            <div class="input">
              <input class="info-value" name="name" type="text" value="{{data.name}}"
                placeholder="{{localize ANARCHY.actor.actorName}}" />
            </div>
          </div>
          {{> "systems/anarchy/templates/actor/character-enhanced/capacity.hbs"}}
        </div>
        {{> "systems/anarchy/templates/actor/character-enhanced/attributes.hbs"}}
      </div>
    </header>
    <section class="roleplay">
      <div class="keyword section-roleplay {{#ifTabClosed '#CharacterEnhancedSheet-Actor-' @root.actor._id 'roleplay'}}closed{{/ifTabClosed}}">
        {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
        {{> "systems/anarchy/templates/actor/character-enhanced/words.hbs" wordType='keywords' minValues=5
        values=system.keywords}}
      </div>
      <div class="quote wrapper-hexabox click-section section-roleplay {{#ifTabClosed '#CharacterEnhancedSheet-Actor-' @root.actor._id 'roleplay'}}closed{{/ifTabClosed}}" data-class="section-roleplay">
        {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
        <div class="center">
          <div class="label">
            {{> "systems/anarchy/templates/actor/character-enhanced/words.hbs" wordType='cues' minValues=6
            values=system.cues}}
          </div>
        </div>
      </div>
      <div class="behavior section-roleplay {{#ifTabClosed '#CharacterEnhancedSheet-Actor-' @root.actor._id 'roleplay'}}closed{{/ifTabClosed}}">
        {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
        {{> "systems/anarchy/templates/actor/character-enhanced/words.hbs" wordType='dispositions' minValues=5
        values=system.dispositions}}
      </div>
    </section>
    <section class="monitors">
      {{> "systems/anarchy/templates/actor/character-enhanced/monitors.hbs"}}
    </section>
    <section class="actions">
      {{> "systems/anarchy/templates/actor/character-enhanced/actions.hbs"}}
    </section>
    <section class="skills">
      {{> "systems/anarchy/templates/actor/character-enhanced/skills.hbs"}}
    </section>
    <section class="shadowamps">
      {{> "systems/anarchy/templates/actor/character-enhanced/shadowamps.hbs"}}
    </section>
    <section class="qualities">
      {{> "systems/anarchy/templates/actor/character-enhanced/qualities.hbs"}}
    </section>
    <section class="equipments">
      {{> "systems/anarchy/templates/actor/character-enhanced/equipments.hbs"}}
    </section>
    <section class="story">
      {{> "systems/anarchy/templates/actor/character-enhanced/story.hbs"}}
    </section>
  </div>
</form>