<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="passport-header">
      <div class="passport-img">
        <img class="anarchy-img profile-img" src="{{data.img}}" data-tooltip="{{data.name}}" />
      </div>
      <div class="passport-details-row">
        <div class="passport-detail">
          {{> "systems/anarchy/templates/actor/character/name.hbs"}}
        </div>
        <div class="passport-detail">
          {{> "systems/anarchy/templates/actor/character/metatype.hbs"}}
        </div>
        <div class="passport-detail">
          {{> "systems/anarchy/templates/actor/character/genre.hbs"}}
        </div>
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <div class="section-group anarchy-words-section">
      <div class="anarchy-words anarchy-keywords">
      </div>
      <div class="anarchy-words anarchy-cues">
      {{> "systems/anarchy/templates/actor/parts/words.hbs" wordType='keywords' values=system.keywords}}
      </div>
      <div class="anarchy-words anarchy-cues">
      </div>
    </div>
    <div class="anarchy-block">
      {{> 'systems/anarchy/templates/actor/parts/description.hbs'}}
    </div>
  </section>
</form>