<div class="passport-details-row">
{{#if options.limited}}
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/name.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/metatype.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/genre.hbs"}}
  </div>
{{else}}
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/name.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/metatype.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/genre.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/capacity.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/karma.hbs"}}
  </div>
  {{#if (localize 'ANARCHY.actor.counters.essence')}}
  <div class="passport-detail">
    {{> "systems/anarchy/templates/actor/character/essence.hbs"}}
  </div>
  {{/if}}
{{/if}}
</div>
