.sheet {
    .character-enhanced {

        a {
            transition: all 200ms;
            cursor: pointer !important;
        }

        a:hover {
            text-shadow: inherit;
            // filter: hue-rotate(179deg);
            transform: scale(1.1);
        }

        h2 {
            border-bottom: 0px solid transparent;
        }


        input {
            background-color: #f1f4ff;
        }

        header {
            height: 150px;
            display: grid;
            grid-template-columns: 150px 1fr;
            position: relative;

            .avatar {
                position: relative;
                position: relative;
                margin-top: -6px;
                margin-left: -6px;

                >.angle.tr {
                    display: none;
                }

                .metatype {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    width: 100px;
                    font-size: 10px;

                    .anarchy-metatype {
                        background-color: white;
                        display: grid;
                        grid-template-columns: 1fr 10px;
                        padding-right: 6px;

                        &.info-value {
                            padding-right: 0px;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            .name-attributes {
                display: grid;
                grid-template-rows: 50px 100px;

                .name {
                    transform: translate(-12px, -4px);
                    margin-right: -12px;
                    padding-top: 0px;
                    position: relative;

                    >.side.up,
                    >.angle.tr,
                    >.angle.tl {
                        display: none;
                    }

                    >.right,
                    >.left {
                        top: 0px;
                    }

                    .input {
                        margin-right: 70px;
                        height: 40px;
                        margin-top: 3px;
                        margin-left: 2px;
                        font-size: 24px;

                        input {
                            font-family: "BebasNeue";
                            padding: 11px 0px 4px 4px;
                            background-color: transparent;
                            font-weight: bold;
                        }


                    }

                    .awarness {
                        position: absolute;
                        right: 5px;
                        top: 5px;
                        display: flex;
                        flex-direction: row-reverse;
                        gap: 8px;
                        align-items: center;

                        select {
                            border: 0px;
                            background-color: white;
                        }

                        .connection-mode {
                            transform: translateY(3px);
                            font-size: 12px;

                            i {
                                font-size: 16px;
                            }

                            display: flex;
                            flex-direction: column;
                        }
                    }
                }

                .attributes {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    background-image: linear-gradient(to bottom, #ffffff 0%, #dcdddf 50%, #989999 100%);
                    padding-bottom: 32px;
                    margin-right: -4px;

                    .attribute {
                        display: grid;
                        grid-template-rows: 1fr 2fr;
                        padding: 2px 8px 0 8px;
                        font-family: "BebasNeue";

                        .label {
                            font-size: 18px;
                            text-transform: uppercase;
                            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                            color: #f4c000;
                            font-weight: bold;
                            font-family: "BebasNeue";
                            letter-spacing: 2px;
                        }

                        .attribute-infos {
                            position: relative;

                            a {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 28px;
                            }

                            .value {
                                position: absolute;
                                bottom: -4px;
                                right: -4px;
                                font-size: 14px;
                                width: 18px;
                                height: 22px;
                            }
                        }
                    }
                }
            }
        }

        .roleplay {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            font-size: 20px;
            gap: 0px;
            font-weight: bold;

            h3 {
                border-bottom: none;
                padding: 8px 0 0 0;
                text-transform: uppercase;
                font-size: 1.1em;
                font-weight: bold;
                font-family: BebasNeue;

                letter-spacing: 1px;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                gap: 8px;

                a {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                }
            }

            .behavior,
            .keyword {
                border-top: 2px solid black;
                padding-top: 2px;
                box-shadow: var(--anarchy-shadow-section);
                z-index: 0;
            }

            .behavior {
                transform: translateX(-1px);
            }

            .quote {
                --wrapper-padding: 19px;
                margin-top: -26px;
                padding-bottom: 0px;

                .side.up {
                    box-shadow: var(--anarchy-shadow-section);
                    height: 12px;
                    transform: translateY(7px);
                }

                .angle.tl,
                .angle.tr {
                    transform: translateY(7px);
                }

                .side.down,
                .side.left,
                .side.right,
                .angle.bl,
                .angle.br {
                    display: none;
                }

                .center {
                    background-color: white;

                    .label {
                        transform: translateY(-14px);
                    }
                }
            }

            input {
                height: 20px;
                font-size: 12px;
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 1px solid black;
                border-radius: 0px;
                margin-bottom: 5px;
            }
        }

        .section-monitors,
        .section-skills,
        .section-roleplay,
        .section-actions,
        .section-qualities,
        .section-story,
        .section-equipments,
        .section-shadowamps {
            max-height: 1000px;
            transition: max-height 500ms cubic-bezier(.14, .87, .5, .97);

            &:not(.wrapper) {
                transition: max-height 500ms cubic-bezier(.78, .32, .88, .38);
                overflow: hidden;
            }

            &.closed {
                max-height: 0px;
            }

            &.quote {
                &.closed {
                    max-height: 36px;
                }
            }
        }

        .click-section {
            cursor: pointer;
        }

        .actions {
            background-color: #e3e4e6;
            border-top: 2px solid black;
            z-index: 0;
            position: relative;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 0rem 2rem 0rem;
            box-shadow: var(--anarchy-shadow-section);

            h2 {
                --wrapper-padding: 19px;
                --wrapper-background-color: #e3e4e6;
                display: inline-block;
                margin-top: -19px;
                padding-bottom: 0px;
                margin-bottom: 0px;

                .side.up {
                    box-shadow: var(--anarchy-shadow-section);
                }

                .side.down,
                .side.right,
                .side.left,
                .angle.br,
                .angle.bl {
                    display: none;
                }

                .content {
                    color: black;
                    font-size: 1.2em;
                    border-bottom: none;

                    text-transform: uppercase;
                    // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                    font-family: "BebasNeue";
                    letter-spacing: 2px;

                    background-color: #e3e4e6;
                    transform: translateY(-14px);

                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    a {
                        text-shadow: -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }

            .action-list {
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                gap: 8px;
                padding: 0 8px;

                .item-list {
                    &>.content {
                        padding: 8px;
                        display: grid;
                        gap: 12px;
                        grid-template-columns: 1fr 1fr 1fr;
                        background-color: white;

                        a {
                            background-color: transparent;
                            --wrapper-background-color: #f4c000;
                            --wrapper-padding: 8px;
                            color: white;
                            font-size: 24px;
                            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

                            &:hover {
                                transform: scale(1.05);
                            }

                            &>.content {
                                padding: 0px 8px 0px 24px;
                                font-size: 24px;
                                align-items: center;
                                justify-content: center;
                                display: flex;

                                .angle.br {
                                    display: none;
                                }


                                .side.right,
                                .side.down {
                                    border: 0;
                                }

                                .attribute-button-icon {
                                    --wrapper-background-color: #f4c000;
                                    position: absolute;
                                    top: -5px;
                                    left: -5px;
                                }

                                label {
                                    display: block;
                                    text-align: center;
                                    font-size: 16px;
                                    font-weight: bold;
                                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                                    color: white;
                                    cursor: pointer;
                                }
                            }

                        }
                    }
                }

                .weapons {
                    .content {
                        .title {
                            margin-top: 0px;
                            padding: 4px;
                            font-family: "BebasNeue";
                            font-size: 18px;
                            letter-spacing: 1px;
                            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                            color: white;
                        }

                        .weapon-list {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            .weapon {
                                padding: 4px 2px;

                                .content {
                                    width: 100%;
                                    display: grid;
                                    grid-template-columns: 38px 1fr;
                                    cursor: pointer;

                                    .item-controls {
                                        position: absolute;
                                        bottom: 4px;
                                        right: 4px;
                                        text-align: center;
                                    }

                                    .weapon-name {
                                        font-size: 14px;
                                        font-weight: bold;

                                    }

                                    .weapon-desc {
                                        font-size: 14px;

                                        span {
                                            p {
                                                margin: 0;
                                            }
                                        }
                                    }

                                    .weapon-info {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;

                                        .weapon-stats {
                                            display: grid;
                                            flex-direction: row;
                                            grid-template-columns: 1fr 1fr;
                                            font-family: "BebasNeue";

                                            .weapon-range {
                                                text-wrap: nowrap;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .skills {
            background-color: #fec81c;
            border-top: 2px solid black;
            z-index: 0;
            position: relative;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 0rem 2rem 0rem;
            box-shadow: var(--anarchy-shadow-section);

            h2 {
                --wrapper-padding: 19px;
                --wrapper-background-color: #fec81c;
                display: inline-block;
                margin-top: -19px;
                padding-bottom: 0px;
                margin-bottom: 0px;

                .side.up {
                    box-shadow: var(--anarchy-shadow-section);
                }

                .side.down,
                .side.right,
                .side.left,
                .angle.br,
                .angle.bl {
                    display: none;
                }

                .content {
                    color: white;
                    font-size: 1.2em;
                    border-bottom: none;

                    text-transform: uppercase;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                    font-family: "BebasNeue";
                    letter-spacing: 2px;

                    background-color: #fec81c;
                    transform: translateY(-14px);

                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    a {
                        text-shadow: -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    }


                }

            }

            .item-list {
                padding: 0 1rem;
                gap: 1rem;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                .anarchy-skill {
                    --wrapper-padding: 12px;

                    .content {
                        max-width: none;
                        display: grid;
                        flex-direction: row;
                        grid-template-columns: 46px 1fr;


                        .skill-img {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 6px;

                            .anarchy-img {
                                width: 46px;
                                height: 46px;
                            }
                        }

                        .skill-txt {
                            padding: 0px 16px;

                            .title {
                                font-family: "BebasNeue";
                                font-size: 18px;
                                letter-spacing: 1px;
                            }
                        }
                    }

                    .level {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                        width: 32px;
                        height: 32px;
                        top: 50%;
                        font-weight: bold;
                        left: -14px;
                        transform: translateY(-50%);

                        .content {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                        }

                    }
                }
            }
        }

        .shadowamps {
            background-color: #dcdddf;
            border-top: 2px solid black;
            z-index: 0;
            position: relative;
            margin-top: 0px;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 0rem 2rem 0rem;
            box-shadow: var(--anarchy-shadow-section);

            h2 {
                --wrapper-padding: 19px;
                --wrapper-background-color: #dcdddf;
                display: inline-block;
                margin-top: -19px;
                padding-bottom: 0px;
                margin-bottom: 0px;

                .side.up {
                    box-shadow: var(--anarchy-shadow-section);
                }

                .side.down,
                .side.right,
                .side.left,
                .angle.br,
                .angle.bl {
                    display: none;
                }

                .content {
                    color: white;
                    font-size: 1.2em;
                    border-bottom: none;

                    text-transform: uppercase;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                    font-family: "BebasNeue";
                    letter-spacing: 2px;

                    background-color: #dcdddf;
                    transform: translateY(-14px);

                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    a {
                        text-shadow: -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }

            .item-list {
                gap: 1rem;
                padding: 0 1rem;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                .anarchy-shadowamp {
                    --wrapper-padding: 12px;

                    .content {
                        display: grid;
                        flex-direction: row;
                        grid-template-columns: 46px 1fr;


                        .shadowamp-img {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 6px;

                            .anarchy-img {
                                width: 46px;
                                height: 46px;
                            }
                        }

                        .shadowamp-content {
                            max-width: none;
                            padding-left: 12px;
                            text-align: left;

                            .title {
                                font-family: "BebasNeue";
                                font-weight: bold;
                                font-size: 18px;
                                letter-spacing: 1px;
                            }
                        }
                    }

                    .level {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                        width: 32px;
                        height: 32px;
                        top: 50%;
                        font-weight: bold;
                        left: -14px;
                        transform: translateY(-50%);

                        .content {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                        }

                    }
                }
            }
        }

        .monitors {
            background-color: #dcdddf;
            border-top: 2px solid black;
            z-index: 0;
            position: relative;
            margin-top: 24px;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 1rem 2rem 1rem;
            box-shadow: var(--anarchy-shadow-section);

            h2 {
                --wrapper-padding: 19px;
                --wrapper-background-color: #dcdddf;
                display: inline-block;
                margin-top: -19px;
                padding-bottom: 0px;
                margin-bottom: 0px;

                .side.up {
                    box-shadow: var(--anarchy-shadow-section);
                }

                .side.down,
                .side.right,
                .side.left,
                .angle.br,
                .angle.bl {
                    display: none;
                }


                .content {
                    color: white;
                    font-size: 1.2em;
                    border-bottom: none;

                    text-transform: uppercase;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                    font-family: "BebasNeue";
                    letter-spacing: 2px;

                    background-color: #dcdddf;
                    transform: translateY(-14px);

                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    a {
                        text-shadow: -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }

            .monitor-list {
                display: grid;
                grid-template-columns: 1fr 120px 120px 120px;
                gap: 8px;

                .tokens {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                .armor,
                .physical,
                .stun,
                .tokens {
                    .content {
                        padding-top: 8px;
                        position: relative;
                        background-color: white;

                        .title {
                            height: 20px;
                            font-size: 18px;
                            color: white;
                            text-transform: uppercase;
                            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                            font-weight: bold;
                            font-family: "BebasNeue";
                            letter-spacing: 2px;
                            display: flex;
                            flex-direction: row;
                            gap: 4px;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 4px;

                            input.info-value {
                                text-align: center;
                                font-size: 16px;
                                width: 28px;
                                height: 20px;
                            }
                        }

                        .anarchy-monitor {
                            margin-top: 8px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            font-family: "BebasNeue";

                            .checkbar-root {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;

                                .checkbar {
                                    justify-content: center;
                                    display: grid;
                                    gap: 12px 5px;

                                    .click-checkbar-element {
                                        position: relative;
                                    }

                                    .click-checkbar-element:after {
                                        content: '';
                                        position: absolute;
                                        border-top: 1px dotted #777;
                                        width: 6px;
                                        right: -5px;
                                        top: 6px;
                                    }

                                    .click-checkbar-element:nth-child(3n) {
                                        &:after {
                                            width: 33px;
                                            right: 15px;
                                            top: 21px;
                                            transform: rotate(151deg);
                                        }
                                    }

                                    .click-checkbar-element:last-child {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }

                            .adjust {
                                display: flex;
                                flex-direction: column;
                                margin-left: -10px;

                                div {
                                    height: 29px;
                                    display: flex;
                                    align-content: center;
                                    justify-content: center;

                                    &.activated {
                                        color: red;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }

                    .resistance-label {
                        font-size: 14px;
                        font-family: "BebasNeue";
                        display: flex;
                        flex-direction: row;

                        justify-content: center;
                        align-items: center;
                        gap: 6px;

                        .value {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }


                }

                .physical,
                .stun {
                    .content {
                        display: grid;
                        grid-template-rows: 20px 1fr 20px;

                        .anarchy-monitor {
                            display: grid;
                            grid-template-columns: 1fr 16px;

                        }
                    }
                }

                .edge-credibility {
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 8px;

                    div {
                        flex: 1;
                    }

                    .edge,
                    .rumors,
                    .credibility {
                        .content {
                            display: grid;
                        }
                    }
                }
            }
        }

        .equipments {
            background-color: #fec81c;
            border-top: 2px solid black;
            z-index: 0;
            position: relative;
            margin-top: 0px;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 1rem 2rem 1rem;
            box-shadow: var(--anarchy-shadow-section);

            h2 {
                --wrapper-padding: 19px;
                --wrapper-background-color: #fec81c;
                display: inline-block;
                margin-top: -19px;
                padding-bottom: 0px;
                margin-bottom: 0px;

                .side.up {
                    box-shadow: var(--anarchy-shadow-section);
                }

                .side.down,
                .side.right,
                .side.left,
                .angle.br,
                .angle.bl {
                    display: none;
                }

                .content {
                    color: white;
                    font-size: 1.2em;
                    border-bottom: none;

                    text-transform: uppercase;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                    font-family: "BebasNeue";
                    letter-spacing: 2px;

                    background-color: #fec81c;
                    transform: translateY(-14px);

                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    a {
                        text-shadow: -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }

            .gear-list {
                padding: 0;
                gap: 8px 1rem;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

                .gear {
                    .item-controls {
                        position: absolute;
                        bottom: 4px;
                        right: 4px;
                        text-align: center;
                    }
                }
            }

            .cyberdecks {
                .title {
                    margin-top: 1rem;
                    padding: 4px;
                    font-family: "BebasNeue";
                    font-size: 18px;
                    letter-spacing: 1px;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    color: white;
                }

                .cyberdeck-list {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1rem;

                    .cyberdeck {
                        --wrapper-padding: 25px;
                        --wrapper-thickness: 3px;

                        .content {
                            display: grid;
                            grid-template-columns: 32px 1fr;
                            gap: 1rem;

                            .cyberdeck-details {
                                display: flex;
                                flex-direction: column;

                                .name {
                                    font-family: "BebasNeue";
                                    font-weight: bold;
                                    font-size: 18px;
                                    letter-spacing: 1px;
                                }

                                .information {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr 1fr 1fr;

                                    > :first-child {
                                        display: flex;
                                        flex-direction: column;
                                        text-align: left;
                                    }

                                    .attribute {
                                        text-align: center;

                                        .anarchy-attribute {
                                            display: flex;
                                            height: 35px;
                                            align-items: center;
                                            justify-content: center;

                                            a {
                                                display: block;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .item-controls {
                            position: absolute;
                            bottom: 4px;
                            right: 28px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .story {
            background-color: #e3e4e6;
            border-top: 2px solid black;
            z-index: 0;
            position: relative;
            margin-top: 0px;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 1rem 2rem 1rem;
            box-shadow: var(--anarchy-shadow-section);

            h2 {
                --wrapper-padding: 19px;
                --wrapper-background-color: #e3e4e6;
                display: inline-block;
                margin-top: -19px;
                padding-bottom: 0px;
                margin-bottom: 0px;

                .side.up {
                    box-shadow: var(--anarchy-shadow-section);
                    // height: 12px;
                    // transform: translateY(7px);
                }

                .side.down,
                .side.right,
                .side.left,
                .angle.br,
                .angle.bl {
                    display: none;
                }

                .content {
                    color: black;
                    font-size: 1.2em;
                    border-bottom: none;

                    text-transform: uppercase;
                    // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                    font-family: "BebasNeue";
                    letter-spacing: 2px;

                    background-color: #e3e4e6;
                    transform: translateY(-14px);

                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    a {
                        text-shadow: -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }

            .social-info {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                .title {
                    margin-top: 0px;
                    padding: 4px;
                    font-family: "BebasNeue";
                    font-size: 18px;
                    letter-spacing: 1px;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    color: white;
                }

                .celeb-table {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    &>div {
                        display: flex;
                        justify-content: center;
                        gap: 8px;

                        .input {
                            input {
                                text-align: center;
                            }
                        }
                    }
                }

                .karma {
                    .karma-wrapper {
                        display: grid;
                        grid-template-columns: 1fr 4px 1fr;
                        gap: 16px;

                        .karma-row {
                            &:first-child {
                                justify-content: flex-end;
                            }

                            &:last-child {
                                justify-content: flex-start;
                            }

                            display: flex;
                            gap: 4px;

                            input {
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .contacts {
                .title {
                    margin-top: 1rem;
                    padding: 4px;
                    font-family: "BebasNeue";
                    font-size: 18px;
                    letter-spacing: 1px;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    color: white;
                }

                .contact-list {
                    padding: 0;
                    gap: 8px 1rem;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

                    .contact {
                        .item-controls {
                            position: absolute;
                            bottom: 4px;
                            right: 4px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .qualities {
            background-color: #e3e4e6;
            border-top: 2px solid black;
            z-index: 0;
            position: relative;
            margin-top: 0px;
            margin-left: -4px;
            margin-right: -4px;
            padding: 0 1rem 2rem 1rem;
            box-shadow: var(--anarchy-shadow-section);

            h2 {
                --wrapper-padding: 19px;
                --wrapper-background-color: #e3e4e6;
                display: inline-block;
                margin-top: -19px;
                padding-bottom: 0px;
                margin-bottom: 0px;

                .side.up {
                    box-shadow: var(--anarchy-shadow-section);
                    // height: 12px;
                    // transform: translateY(7px);
                }

                .side.down,
                .side.right,
                .side.left,
                .angle.br,
                .angle.bl {
                    display: none;
                }

                .content {
                    color: black;
                    font-size: 1.2em;
                    border-bottom: none;

                    text-transform: uppercase;
                    // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                    font-family: "BebasNeue";
                    letter-spacing: 2px;

                    background-color: #e3e4e6;
                    transform: translateY(-14px);

                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    a {
                        text-shadow: -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }

            .item-list {
                gap: 1rem;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                .anarchy-quality {
                    --wrapper-padding: 12px;

                    &.quality-negative {
                        .angle::before {
                            border-top: var(--wrapper-thickness, 2px) dashed var(--wrapper-border-color)
                        }

                        .side.up {
                            border-top: var(--wrapper-thickness, 2px) dashed var(--wrapper-border-color)
                        }

                        .side.right {
                            border-right: var(--wrapper-thickness, 2px) dashed var(--wrapper-border-color)
                        }

                        .side.left {
                            border-left: var(--wrapper-thickness, 2px) dashed var(--wrapper-border-color)
                        }

                        .side.down {
                            border-bottom: var(--wrapper-thickness, 2px) dashed var(--wrapper-border-color)
                        }
                    }

                    .content {
                        display: grid;
                        flex-direction: row;
                        grid-template-columns: 46px 1fr;

                        .quality-img {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 6px;

                            .anarchy-img {
                                width: 46px;
                                height: 46px;
                            }
                        }

                        .quality-content {
                            max-width: none;
                            padding-left: 12px;
                            text-align: left;

                            .title {
                                font-family: "BebasNeue";
                                font-weight: bold;
                                font-size: 18px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }

        .description,
        .gmnotes {
            .title {
                margin-top: 1rem;
                padding: 4px;
                font-family: "BebasNeue";
                font-size: 18px;
                letter-spacing: 1px;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                color: white;
            }

            .editor {
                text-align: initial;
            }
        }
    }
}