<div data-attribute="{{key}}" class="attribute anarchy-attribute">
    <label class="label" for="system.attributes.{{key}}.value">
        <a class="click-roll-attribute">
            {{localizeAttribute key}}
        </a>
    </label>
    <div class="wrapper-hexabox">
        <div class="side up"></div>
        <div class="side right"></div>
        <div class="side down"></div>
        <div class="side left"></div>
        <div class="angle tl"></div>
        <div class="angle tr"></div>
        <div class="angle br"></div>
        <div class="angle bl"></div>
        <div class="content attribute-infos">
            <a class="click-roll-attribute">
                {{attribute.total}}
            </a>
            <input class="value" type="number" data-dtype="Number" min="0" max="36" maxlength="2"
                name="system.attributes.{{key}}.value" value="{{attribute.value}}" />
        </div>
    </div>
</div>