<div
  class="item wrapper-hexabox gear anarchy-gear {{#if system.inactive}}inactive{{/if}}"
  data-item-id="{{_id}}" data-item-type="gear" draggable="true">
  {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
  <div class="content">
    <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}"
      data-tooltip="{{name}}" />
    <span>
      <label>{{name}}</label>
    </span>
    <div class="item-controls">
      {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
    </div>
  </div>
</div>
