<div
  class="section-story wrapper {{#ifTabClosed '#CharacterEnhancedSheet-Actor-' @root.actor._id 'story'}}closed{{/ifTabClosed}}">
  <h2 class="wrapper-hexabox" data-class="section-story">
    {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
    <div class="content">
      {{localize 'ANARCHY.actor.tabs.biography'}}
    </div>
  </h2>
  <div
    class="section-story {{#ifTabClosed '#CharacterEnhancedSheet-Actor-' @root.actor._id 'story'}}closed{{/ifTabClosed}}">
    <div
      class="section-story {{#ifTabClosed '#CharacterEnhancedSheet-Actor-' @root.actor._id 'story'}}closed{{/ifTabClosed}}">
      <div class="social-info">
        <div class="credibility wrapper-hexabox">
          {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
          <div class="content">
            <div class="title">
              {{localize 'ANARCHY.actor.famous'}}
            </div>
            <div class="celeb-table">
              <div>
                <label>
                  {{localize ANARCHY.actor.celebrity}}
                </label>
                <div class="input">
                  <input class="info-value" type="number" data-dtype="Number"
                    name="system.counters.social.celebrity.value"
                    data-counter-social="celebrity"
                    value="{{system.counters.social.celebrity.value}}" />
                </div>
              </div>
              <div>
                <label>
                  {{localize ANARCHY.actor.counters.social.credibility}}
                </label>
                <div class="input">
                  <input class="info-value"
                    type="number" data-dtype="Number" min="0" max="10"
                    name="system.counters.social.credibility.max"
                    data-counter-social="credibility"
                    value="{{system.counters.social.credibility.max}}" />
                </div>
              </div>
              <div>
                <label>
                  {{localize ANARCHY.actor.counters.social.rumor}}
                </label>
                <div class="input">
                  <input class="info-value"
                    type="number" data-dtype="Number" min="0" max="10"
                    name="system.counters.social.rumor.max"
                    data-counter-social="rumor"
                    value="{{system.counters.social.rumor.max}}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="karma wrapper-hexabox">
          {{> "systems/anarchy/templates/actor/character-enhanced/hexabox.hbs"}}
          <div class="content">
            <div class="title">
            {{localize 'ANARCHY.actor.counters.karma'}}
            </div>
              {{>
              "systems/anarchy/templates/actor/character-enhanced/karma.hbs"}}
          </div>
        </div>
      </div>
      <div class="contacts">
        {{> "systems/anarchy/templates/actor/character-enhanced/contacts.hbs"}}
      </div>
      <div class="description">
        {{> 'systems/anarchy/templates/actor/character-enhanced/description.hbs'}}
      </div>
      <div class="mj-note">
        {{> 'systems/anarchy/templates/actor/character-enhanced/gmnotes.hbs'}}
      </div>
    </div>
  </div>
</div>
