<h3 class="define-wordType" data-word-type="{{wordType}}">
  {{localize (concat 'ANARCHY.actor.words.' wordType)}}
  <a class="item-control click-word-add" data-tooltip="{{localize ANARCHY.common.add}}">
    {{{iconFA 'fas fa-plus-circle'}}}
  </a>
</h3>
{{#each (padWordListToMin values minValues) as |wordEntry index|}}
<div class="define-wordType" data-word-type="{{../wordType}}" data-word-id="{{wordEntry.id}}" data-index="{{index}}">
  <span class="flexrow">
    <input class="change-word-value" type="text" data-dtype="String" value="{{wordEntry.word}}" />
    <div class="flex-shrink-end">
      {{#if (eq ../wordType 'cues')}}
      <a class="item-control click-word-say" data-tooltip="{{localize ANARCHY.common.say}}">
        {{{iconFA 'fas fa-comment-dots'}}}
      </a>
      {{/if}}
      {{#if (ne wordEntry.no_delete true)}}
      {{wordEntry.no_delete}}
      <a class="item-control click-word-delete" data-tooltip="{{localize ANARCHY.common.del}}">
        {{{iconFA 'fas fa-trash'}}}
      </a>
      {{/if}}
    </div>
  </span>
</div>
{{/each}}